.app {
    padding: 10px;
  }
  
.profile {
    text-align: left;
    margin-bottom: 10px;
  }
.profile-name {
    text-align: center;
    font-size: 33px;
    padding-top: 50px; 
  }
  
.navigation {
    text-align: center;

  }
  
.body {
    max-width: 880px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }
.profile-image {
    text-align: left;
    shape-outside: circle();
    float: left;
    width: 250px;
    margin: 100px 10px 20px 20;
    padding: 20px 20px 20px 20px;
    border-radius: 100%;
  }

